body {
    font-family: "Alegreya", serif;
    margin: 0;
}
.container {
    width: 88%;
    margin: 30px auto 40px;
    }
.title {
    font-size: 30px;
    font-weight: 200;
}
.clear-fix {
    clear: both;
}
ul {
    padding: 0;
    list-style: none;
}
p {
    font-family: "Alegreya Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 1.7;
    color: #686868;
}
button {
    background: transparent;
    border: transparent;
}
/* ----------------------End-global-styling---------------------- */
#navbar {
    background: #ffffff;
    height: 55px;
    position: fixed;
    z-index: 100;
    width: 100%;
}
#navbar .container {
    margin: 0 auto;
}
#navbar .container .logo{
    height: 100%;
    width: 15%;
    float: left;
    padding: 5px 0;
}
#navbar .container .logo img{
    width: 100%;
}
#navbar .container .links{
    width: 40%;
    height: 100%;
    float: right;
    margin: 0;
}
#navbar .container .links li{
    display: inline-block;
    padding: 15px 10px;
    font-size: 18px;
    color: #b7b7b7;
}
#navbar .container .links li:hover{
    color: #000;
    transition: 0.6s;
}
#navbar .container .links .active {
    color: #000;
}
/* ------------------------------------------------------------- */
.settings {
    width: 42px ;
    height: 85px;
    position: fixed;
    top: 32%;
    right: 0;
    z-index: 999;
    background-color: #fff;
    border-radius: 5px 0 0 5px;
}
.settings button .img {
    width: 85%;
    height: 30%;
    padding: 7px 2px 5px;
}
.settings button .img img{
    width: 100%;
}
.scroll-btn {
    width: 38px;
    height: 38px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(55, 55, 55, 0.6);
    border-radius: 50%;
    border: 1px solid gray;
}
.scroll-btn:hover {
    background-color: rgba(31, 31, 31, 0.6);   
    transition: 0.4s;
}
.scroll-btn .img {
    width: 60%;
    height: 60%;
    padding: 8px;
}
.scroll-btn .img img{
    width: 100%;
}
/* ------------------------------------------------------------- */
#landing {
    height: 110vh;
    background-image: url(../images/landing-photo.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: white;
}
    #landing .landing-container {
    padding-top: 250px;
}
#landing .landing-container span {
    font-size: 22px;
}
#landing .landing-container h1 {
    font-weight: 300;
    font-size: 76px;
    margin: 10px 0 15px;
}
#landing .landing-container p {
    width: 750px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 24px;
}
#landing .landing-container .buttons {
    margin: 45px 0;
}
#landing .landing-container .buttons button {
    color: white;
    padding: 15px 20px ;
    font-size: 17px;
    font-weight: bold;
    border: 2px solid #ffffff;
    border-radius: 5px;
}
#landing .landing-container .buttons .btn-1 {
    margin-right:5px ;
    background-color: #8E7754;
    border-color: #8E7754;
}
#landing .landing-container .buttons .btn-1:hover {
    background-color: #fff;
    color: #000;
    transition: 0.4s;
    border: 2px solid #ffffff;
}
#landing .landing-container .buttons .btn-2:hover {
    background-color: #fff;
    color: #000;
    transition: 0.4s;
}
/* -------------------End-landing-page------------------------ */
#who-section {
    padding: 60px 0 ;
    background-color: #ffffff;
}
#who-section .container .right-section {
    float: right;
    width: 47%;
}
#who-section .container .left-section {
    float: left;
    width: 47%;
    padding: 5px 0;
}
#who-section .container .left-section img {
    width: 100%;
}
#who-section .container .right-section .features {
    padding: 15px 0;
}
#who-section .container .right-section .features .feature {
    margin: 20px 0;
}
#who-section .container .right-section .features .feature p {
    float: right;
    width: 90%;
    padding: 6px 0;
    margin: 0;
    
}
#who-section .container .right-section .features .img {
    float: left;
    width: 6%;
    padding: 2px 0;
    border: 1px solid #c5c5c5;
    border-radius: 60px;
}
#who-section .container .right-section .features img {
    width: 100%;
}
/* --------------------------------------------- */
#location-section {
    padding: 60px 0 ;
    background-color: #F8F8F8;
}
#location-section .container .left-section {
    float: left;
    width: 47%;
    padding: 80px 0;
}
#location-section .container .right-section {
    float: right;
    width: 47%;
}
#location-section .container .right-section img {
    width: 100%;
}
#location-section .container .left-section p {
    margin: 30px 0;
}
/* --------------------------------------------- */
#products {
    padding: 60px 0 ;
    text-align: center;
    background-color: #ffffff;
}
#products p {
    margin: 25px 0;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.7;
    color: #686868;
}
#products .container .product-1 {
    width: 31%;
    float: left;
    margin-right:38px ;
}
#products .container .product-2 {
    width: 31%;
    float: left;
    margin-right:38px ;
}
#products .container .product-3 {
    width: 31%;
    float: left;
}
#products .container img {
    width: 100%;
} 
#products .container h3 {
    font-weight: 300;
    font-size: 20px;
} 
/* ---------------------------------------- */
#contact {
    padding: 60px 0 ;
    background-color: #F8F8F8;
}
#contact .container .right-section {
    float: right;
    width: 47%;
}
#contact .container .left-section {
    float: left;
    width: 47%;
    padding: 10px 0;

}
#contact .container .right-section iframe{
    width: 100%;
    height: 470px;
}
#contact .container .left-section span {
    font-weight: 200;
    color: #686868;
}
#contact .container .left-section .informations{
    padding: 10px 0;
}
#contact .container .left-section .informations .information{
    margin: 20px 0;
}
#contact .container .left-section .informations .information .img {
    float: left;
    width: 6% ;
    padding: 2px;
    border: 1px solid #c5c5c5;
    border-radius: 60px;
    background-color: #8E7754;
}
#contact .container .left-section .informations .information img{
    width: 100%;
}
#contact .container .left-section .informations .information p{
    float: right;
    width: 90%;
    padding: 6px 0;
    margin: 0;
    font-size: 16px;
}
/* ------------------------------------------- */
#main-footer {
    padding: 20px 0 ;
    background-color: #403D38;
}
#main-footer .col-1 , .col-2 , .col-3 , .col-4{
    float: left;
    width: 24%;
}
#main-footer .col-1 , .col-2 , .col-3 {
    margin-right: 14px;
}
#main-footer .container .title-foot{
    color: #fff;
    font-weight: 400;
}
#main-footer .container ul li{
    padding: 10px 0;
    border-bottom: 1px solid #4d4c4c;
}
#main-footer .container ul li .img {
    display: inline-block;
    width: 5%;
    padding: 2px 0;
}
#main-footer .container ul li .img img{   
    width: 100%;
}
#main-footer .container ul li p{
    display: inline-block;
    width: 90%;
    margin: 0;
    color: #d7d6d6;
    font-weight: 200;
    font-size: 15px;
}
#main-footer .container .col-1 p {
    color: #8a8a8a;
}
#main-footer .container .col-4 ul {
    background-image: url(../images/contact-details-map.png);
    background-size:contain;
    background-repeat: no-repeat;
}
#main-footer .container .col-4 ul li .img {
    width: 11%;
}
#main-footer .container .col-4 ul li p {
    width: 85%;
}
/* ----------------------------------------- */
#foot-bottom {
    padding: 40px 0;
    background-color: #353330;
}
#foot-bottom .foot-container {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
#foot-bottom .foot-container .foot-logo {
    margin-bottom: 25px ;
} 
#foot-bottom .foot-container span{
    font-family: "Alegreya Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #838383;
}
#foot-bottom .foot-container .social-icons {
    margin: 20px 0 10px;
}
#foot-bottom .foot-container .social-icons .img {
    width: 40px;
    height: 40px;
    display: inline-block;
    transition: 0.4s;
    margin: 3px;
    border-radius: 50%;
    background-color: #484540;
}
#foot-bottom .foot-container .social-icons .img img{
    width: 100%;
}
#foot-bottom .foot-container .social-icons .img.face-icon:hover {
    background-color: #004cff;
}
#foot-bottom .foot-container .social-icons .img.google-icon:hover {
    background-color: #d02d00;
}
#foot-bottom .foot-container .social-icons .img.linked-icon:hover {
    background-color: #033cf8;
}
#foot-bottom .foot-container .social-icons .img.twitter-icon:hover {
    background-color: #009dff;
}